page-category-list {
    .card-background-page {

        .backdrop {
            position: absolute;
            bottom: 0;
            height: auto;
            left: 0;
            right:0;
            background-color: black;
            opacity: 0.5;
        }

        ion-card {
            text-align: center;
            position: relative;
            height: 200px;
        }

        .card-title {
            font-size: 2.0em;
            font-weight: bold;
            color: #fff;
            padding: 5px;
            text-align: left;
        }

        .card-count {
            font-size: 2.0em;
            font-weight: bold;
            color: #fff;
            padding: 5px;
            text-align: right;
        }

    }
}
